body{
	background-image:url("ruimte.png");
	font-family:tahoma;
}

.logo>img{
	width:317px;
	height: 40px;
	margin-left: 18;
}

.datasection{
	background-color:#024F88;
	width:334px;
	height:300px;
	border-radius: 25px;
	color:white;
	font-size:12px;
	margin-left:12px;
}

 section>h2{
	margin-left:20px;
	padding-top: 20px;

}

#donutchart{
	width: 250px;
	height: 150px;
	margin-left: 38px;
}

#curve-chart{
	
	 width: 250px; 
	 height: 150px;
}
