/*Mobile first*/ 
/*width: 375*/ 
body{
	 background-color:black;
	 font-family: century gothic, tahoma, sans-serif;
	 color:white;
	 margin: 0;
	 padding:0;
}

/*Header: Logo bovenaan de pagina*/
.spacelogo{
	position: relative; 
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content:center;
	align-items: center; 
	overflow:hidden;
}

.spacelogo:before{
	content:'';
	position: absolute; 
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: linear-gradient(40deg,#42cef5,#6827b0);
	border-radius: 0 0 50% 50%/0 0 100% 100%;
	transform: scaleX(1.1);
}

.spacelogo .logo{
	position: relative; 
	z-index: 1; 
	margin: 0 auto; 
	max-width: 900px;
	text-align:center;
}

.logo > img{
	max-width:150px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -25px;
}

/* section: astronaut*/
.astronaut, .raketnaam{
	background-color: #5A62C8; 
	text-align: center;
	padding: 20px;
	margin-top: 50px;
	max-width: 500px;
	border-radius:40px;
}

.informatie > img {
	width: 100px;
	height: 100px;
}